<?xml version="1.0" ?>
<config>  
	<!-- Global simulation parameters -->
	<output resultsFile="./data/model.h5" logsDir="./logs"/>
	<numSteps value="5" serializeResolution="1"/>
	<size width="50" height="50"/>
    <environment fileName="../maps/r25_s50x50.tif"/>
    <agents initPop="1">
		
		<controller
			type="motionless"
			horizon="3"
			width="150"
			explorationBonus="10"
		/>
	</agents>
</config>

