<?xml version="1.0" ?>
<config>  
	<!-- Global simulation parameters -->
	<output resultsFile="./data/model.h5" logsDir="./logs"/>
	<numSteps value="60" serializeResolution="1"/>
	<size width="50" height="50"/>
    <environment map="../maps/r25_s50x50.tif"/>
    
	<agents>
		
		<!-- We currently accept the following controller types: 
				MDP, random, motionless, lazy, greedy, rule
		-->
		<controller type= "MDP"
			population="50"
			horizon="50"
			width="150"
			explorationBonus="10"
		/>
		
		<controller type= "random"
			population="50"
		/>
		
	</agents>
</config>

