<?xml version="1.0" ?>
<config>  
	<!-- Global simulation parameters -->
	<output resultsFile="./data/model.h5" logsDir="./logs"/>

	<!-- numSteps.value is the number of timesteps of the simulation -->
	<numSteps value="100" serializeResolution="1"/>
	<size width="50" height="50"/>
    <environment map="../maps/r25_s50x50.tif"/>
	
	<!-- A consumption factor of X means that each agent consumes per timestep X times the amount of resources that grows at each cell each timestep -->
	<resource consumptionFactor="10" />
    
	<!-- the boolean `reproduction` attribute tells whether agents reproduce or only die -->
	<!-- the `position` attribute forces a fixed initial position for all agents. Leave it empty for a random position -->
	<agents reproduction="false" position=""> 
		
		<!-- We currently accept the following controller types: MDP, random, motionless, lazy, greedy, rule -->
		
		<controller type= "MDP"
			population="10"
			horizon="10"
			width="500"
			explorationBonus="10"
		/>
		
		<controller type= "random"
			population="10"
		/>
		
	</agents>
</config>

